.idea/
000 - ML_Backups/
Documentation/
GRIME-AI Logo.jpg
Installer/GRIME-AI 0_0_6_0 (Beta 14) Setup.zip
Installer/GRIME-AI 0_0_6_0 (Beta 15) Setup.zip
Installer/GRIME-AI 0_0_6_0 (Beta 16) Setup-1.bin
Installer/GRIME-AI 0_0_6_0 (Beta 16) Setup-2.bin
Installer/GRIME-AI 0_0_6_0 (Beta 16) Setup-3.bin
Installer/GRIME-AI 0_0_6_0 (Beta 16) Setup.exe
Installer/GRIME-AI 0_0_6_0 (Beta 16) Setup.zip
R-4.4.1-win.exe
SplashScreen Images/GRIME-AI Logo - Backup.jpg
SplashScreen Images/GRIME-AI Logo - Copy.jpg
SplashScreen Images/New Bitmap image.bmp
Splash_007.jpg
__pycache__/
venv/
build/
data/
dist/
hooks/
outputs/
pytorch/
sam2/
sam2_transforms.pt
train/
utils/__pycache__/
validation/
/pytorch/
/pytorch/third_party/
/pytorch/third_party/fbgemm/
/pytorch/third_party/fbgemm/external/
/pytorch/third_party/flash-attention/
/pytorch/third_party/flash-attention/csrc/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
